
nav ul{
  float:right;
}


nav h2{
  margin-bottom: -10px;
  font-family: 'Lobster', cursive;
}

nav p{
  font-family: 'Yellowtail';
  color:grey;
  font-size: 30%;

}

main,footer,header{
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



nav li{
  display: inline-block;
  align-items: stretch;
  float: right;
  position: static;
  margin: 2px;
}


input[type=checkbox]:checked + label {
  color:red;
  text-decoration: line-through;
}


.lastSub{
  display: inline-block;
  margin-right:20px;
}

.delicious{
  display: inline-block;

}

main h1{
  margin-bottom: 0px;

}

main p{
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-indent: 10px;


}

main input{
  display: block;
}


main div{
  position:relative;
  text-align: center;
  background-image: url("https://github.com/codefellows/seattle-201d24/blob/master/class-10-js_debugging-wireframe_part_2/lab/lab-assets/list-bg.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;

}

.van{
  display: inline-block;
  margin-left: 30px;
}

footer h2{
  margin-bottom: -30px;
  margin-top: 10px;
}

footer button{
  background-color: blue;
  color: white;
  width: 150px;
  height: 40px;
  text-shadow: 3px black;
}



.ingred{
  display: inline-block;
}




header hr{
  margin-top:0px;
  margin-bottom: 50px;
}



.descrip{
  margin-top:-5px;
}


.copyright{
  text-align: center;

}

.smllogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -23px;
}
